h1 , h2{
    border-bottom: 1px solid #EFEAEA;
}


.book-summary{
	width: 230px;
}

@media (min-width: 600px){
	.book.with-summary .book-body {
    	left: 230px;
    }
}

.book-summary ul.summary li.header{
	font-weight: 700;
	font-size: 15px;
	color: #657b83;
	border-top: 1px solid #EFEAEA;
}
.book-summary ul.summary li a{
	padding: 6px 16px 8px 20px !important;
}

.markdown-section h1 {
    font-size: 1.6em;
}